@font-face {
    font-family: 'Maratype';
    src: url('../fonts/Maratype.woff') format('woff');
    src: url('../fonts/Maratype.woff2') format('woff2');
    src: url('../fonts/Maratype.otf') format('opentype');
}

@font-face {
    font-family: 'UESCtype';
    src: url('../fonts/UESCtype.otf') format('opentype');
}

body{
    background: #c2fe0c;
    font-family: Courier, monospace;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.back-button {
    color: #00ee00;
    text-decoration: underline;

}

.terminal-container {
    background: black;
    color: white;
    font-family: Courier, monospace;
    height: 640px;
    width: 800px;
    border-top: 50px;
}

.terminal-header {
    background: #270000;
    height: 20px;
    color: #FF0000;
    font-size: 14px;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
}

.terminal-body {
    height: 600px;
    margin-left: 20px;
    position: relative;
}

.terminal-footer {
    background: #270000;
    height: 20px;
    color: #FF0000;
    font-size: 14px;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;

}

.credits {
    position: absolute;
    bottom: 20px;
}

.seal-banner {
    height: 100vh;
    width: 100px;
    background: #fff8d4;
    font-size: 70px;
    font-family: 'Maratype', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

.seal-text {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
}

.seal-text2 {
    writing-mode: vertical-lr;
    text-orientation: sideways;
}

.seal-banner-left {
    position: absolute;
    left: 0;
    top: 0;
}

.seal-banner-right {
    position: absolute;
    right: 0;
    top: 0;
}