* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bitcount Single', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    min-height: 100%;
    background-image: repeating-linear-gradient(
    -55deg,
    #000000,
    #000000 20px,
    #c2fe0c 20px,
    #c2fe0c 40px);
    border: 15px solid black;
}

.page-container {
    width: 100%;
    display: flex;
}

.body-container {
    padding-top: 85px;
    width: calc(100% - 75px);
    height: calc(100vh - 30px);
    display: flex;
    flex-wrap: wrap;
}


.left-block{
    width: 75px;
    height: 100%;
    background: black;
    color: #c2fe0c;
    font-size: 60px;
    padding-right: 10px;
    padding-top: 50px;
    text-align: center;
    font-weight: 800;
    word-break: break-all;
    line-height: 15vh;
    font-family: 'DotGothic16', monospace;
    border-right: 1px solid rgb(97, 97, 97);
}

.card-container {
    background: white;
    height: 450px;
    overflow: visible;
    width: 100%;
    border-bottom: 1px solid rgb(97, 97, 97);
    border-top: 1px solid rgb(97, 97, 97);
}

.card-header {
    background: #3400fb;
    height: 100px;
    position: relative;
    font-size: 70px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

.card-header-text {
    opacity: .4;
}

.cat-box {
    background: #000000;
    position: absolute;
    height: 100px;
    width: 100px;
    padding: 15px 15px;
    font-size: 48px;
    text-align: center;
    align-self: end;
    left: calc(100vw - 115px);
    border: 1px solid #979797;
}

.cat2{
    display: none;
}

.cat-box:hover .cat1{
    display: none;
}

.cat-box:hover .cat2{
    display: block;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    background: #e0e0e0;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    font-size: 48px;
    object-fit: cover;
    z-index: 10;
}

.card-content {
    padding: 80px 30px 30px;
    text-align: center;
    position: relative;
}

.profile-name {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.profile-title {
    font-size: 14px;
    color: #3400fb;
    font-weight: 500;
    margin-bottom: 15px;
}

.profile-description {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 20px;
}

.social-link {
    width: 160px;
    height: 40px;
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease, color 0.3s ease;
    margin: 15px;
}

.social-link:hover {
    background: #000000;
    color: rgb(255, 255, 255);
}

.bottom-container {
    height: calc(100vh - 565px);
    width: calc(100vw - 105px);
    background: #c2fe0c;
    display: flex;
}

.skills-container {
    background: black;
    color: white;
    width: 25%;
    min-width: 250px;
    height: 100%;
    border: 1px solid #979797;
    padding: 20px 40px;
}

.about-container {
    background: #c2fe0c;
    color: rgb(0, 0, 0);
    width: 25%;
    min-width: 250px;
    height: 100%;
    border: 1px solid #979797;
    padding: 20px 40px;
}

.projects-container {
    background: black;
    color: white;
    width: 25%;
    min-width: 250px;
    height: 100%;
    border: 1px solid #979797;
    padding: 20px 40px;
    position: relative;
}

.extra-container {
    background: #c2fe0c;
    color: black;
    width: 25%;
    min-width: 250px;
    height: 100%;
    border: 1px solid #979797;
    padding: 20px 40px;
    position: relative;
}

.bottom-button {
    background: #ececec;
    border-top: 1px solid #979797;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position:   absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.bottom-button:hover {
    background: #000000;
    color: #c2fe0c;
}

@media screen and (max-width: 1150px) {
        .cat-box {
        display: none;
    }

}

@media screen and (max-width: 1104px) {
    body {
        width: 100vw;
        box-sizing: border-box;
        height: 100vh;
    }
    .body-container {
        padding-top: 0px;
        width: 100%;
    }

    .left-block{
        display: none;
    }

    .card-container {
        height: auto;
    }

    .bottom-container {
    padding-top: 12px;
    min-height: 300px;
    width: 100vw;
    background: transparent;
    justify-content: center;
    flex-wrap: wrap;
    }
}